<!DOCTYPE html>
<html>
	<head>
		<title> Welcome to Ozone Judge </title>
	</head>
	<body>
		<center>
			<p style="color:blue; font-size:30px;">
				<a href='{% url "inout:home"%}' >Ozone</a>
				<sup style="font-size:10px;">iiitdmj</sup>
			</p>
			<hr><br>
			{{user.username}}
			<table>
				<form method='post' action="{% url 'inout:activate' %}">
					{% csrf_token %}
						{% if error %}
							<td></td><td>{{error}}</td>
						{% endif %}
						{% for field in form %}
							<tr><th style="float:left;">{{field.label_tag}}</th><td>{{field}}{{field.errors}}</td></tr>
						{% endfor %}
					<input type="hidden" name=usr value={{ usr }} />
					<tr><td><input type=submit value=activate /></td></tr>
				</form>
			</table>
		</center>
	</body>
</html>