<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
	<head>
		<title> Welcome to Ozone Judge </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="{% static 'inout/js/jquery.js' %}" type=text/javascript> </script>
		<link href="{% static 'inout/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
		<link href="{% static 'inout/css/base.css' %}"  type='text/css' rel='stylesheet' />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
		<style>
			body{
				margin-left:30px;
				margin-right:30px;
			}
		</style>
	</head>
	<body>
		<center><p style="color:blue; font-size:30px;"><a href='{% url "inout:home"%}' >Ozone</a><sup style="font-size:10px;">iiitdmj</sup></p>
		<hr>
		</center>
		<a href='{% url "inout:home" %}' style="float:left; margin-left:20px;">Home</a>
		<center><a href='/contests/'>Contests</a> | <a href="{%url 'inout:profile' username=request.user.username %}">Profile</a> | <a href="{% url 'inout:code' %}">Code</a> | <a href="{% url 'practice:index'%}">Practice</a>
		<a href="{%url 'inout:logout' %}" style="float:right; margin-right:20px;">Logout</a>
		<br>
			<hr><br></center>
		<b><h4><span><i class = "fa fa-hand-o-left"></i></span><span><a href="javascript:window.history.back();"> Go back</a></span></h4></b>
		{% block content %}
		{% endblock %}
	</body>
</html>
