{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title> {% block title %} {% endblock %} : Ozone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{% static 'inout/js/jquery-3.2.1.js' %}" type="text/javascript"> </script>

    <link href="{% static 'inout/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'inout/css/base.css' %}"  type='text/css' rel='stylesheet' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />

    {% block css %}
    {% endblock %}
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <center>
            <p class="heading">
              <a href='{% url "inout:home"%}'>Ozone</a>
              <sup>IIITDMJ</sup>
            </p>
          </center>
          <hr>

          {% if request.user.username %}
            <div class="navigation-bar">
              <center>
                <div class="back-link">
                  <span><i class = "fa fa-hand-o-left"></i></span>
                  <span><a href="javascript:window.history.back();"> Go back</a></span>
                </div>
                <a href='{% url "inout:home" %}'>Home</a> |
                <a href='/contests/'>Contests</a> |
                <a href="{% url 'inout:profile' username=request.user.username %}">Profile</a> |
                <a href="{% url 'inout:code' %}">Code</a> |
                <a href="{% url 'practice:index'%}">Practice</a>
                <a href="{% url 'inout:logout' %}" class="logout-link">Logout</a>
                <hr>
              </center>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
          {% block content %}
          {% endblock %}
      </div>
    </div>
    <br><br><br><br>
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container">
        <br>
        <center style='color: #fff;'>
          <div vlink='white' style='float: left;'>
            <a href='/domjudge/crypto'> <b>CryptoCracker</b> </a>
          </div>
          Developed for <b>IIITDMJ<b>
          {% if request.user.is_authenticated %}
            <div vlink='white' style='float: right;'>
              <a href='{% url "inout:feedback" %}'> <b>Contact Us</b> </a>
            </div>
          {% endif %}
        <center>
        <br>
      </div>
    </nav>
  </body>
</html>
{% block js %}
{% endblock %}
