{% extends 'inout/base.html' %}
{% load static %}

{% block title %} Code Compile and Run {% endblock %}

{% block css %}
  <link href="{% static 'inout/css/form-table.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'inout/css/code-edit.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    <div class="code-edit-heading">Execute the Code</div>
    <br>

    <div class="code-edit-form">
      <form action="{% url 'inout:code' %}" method="post" role="form">
        {% csrf_token %}

        {% for field in form %}
          {{field.label_tag}}
          <div class="form-group">
            {{field}}
          </div>
        {% endfor %}

        <input type="submit" value="Run" class="run-btn btn btn-primary">
      </form>
    </div>
  </div>
{% endblock %}
