{% extends 'inout/base.html' %}

{% block content %}
<!--
	<a href='{% url "inout:home" %}' style="float:left;">Home</a>
	<center><a href='{%url "inout:profile" %}'>Profile</a> | <a href='{% url 'inout:code' %}'>Code</a>
	<a href='{%url "inout:logout" %}' style="float:right;">Logout</a>
	<br><br>
	<hr>
--><style>
	.code{
		width:400px;
		height:300px;
	}
	.input{
		width:400px;
		height:150px;
	}
</style>
	<h1> Execute the Code: <br></h1>
<table>
	<form action="/code/" method="post">
		{% csrf_token %}
		{% for field in form %}
			<tr><th>{{field.label_tag}}</th><td>{{field}}{{field.errors}}</td></tr>
		{% endfor %}
		<tr><td><input style="margin-left:200px;" type=submit value="submit" /></td></tr>
	</form>
	</table>
	<hr>
{% endblock %}