{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title> Welcome to Ozone Judge </title>
		<link href="{% static 'inout/css/base.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'inout/css/form-table.css' %}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<center><p style="color:blue; font-size:30px;"><a href='{% url "inout:home"%}' >Ozone</a><sup style="font-size:10px;">iiitdmj</sup></p>
		<hr><br>
			<h1> Login </h1>
			<form method=post>
				{% csrf_token %}
				<table>
					{% for field in form %}
						<tr><th style="float:left;">{{field.label_tag}}</th><td>{{field}}{{field.errors}}</td></tr>
					{% endfor %}
				</table>
				<button type="submit" > Login </button> Or <a href="/register/">Register</a>
			</form>
		</center>
	</body>
</html>
