{% extends 'inout/base.html' %}
{% load static %}
<!--{% block title %} User Information {% endblock %}

<a href='{% url "inout home" %}' style="float:left;">Home</a>
<a href='{%url "inout logout" %}' style="float:right;">Logout</a>
-->



{% block content %}
<link href='{% static "inout/css/profile.css" %}' type='text/css' rel='stylesheet' />
<script type="text/javascript" src='{% static "inout/js/javascript.js" %}'></script>
<div class='header'>
</div>
<h1 style="color:{{ user.profile.color }};">{{user.username}}</h1><br>
<h3><b>Rating:{{ user.profile.rating }}</b></h3>
{% if request.user.is_staff or request.user.is_superuser %}
	<button onclick='getCon()' >Contests</button><br><br>
	<div id="cons"></div>
{% endif %}




{% endblock %}