{% extends 'inout/base.html' %}
{% load static %}
<!--{% block title %} User Information {% endblock %}

<a href='{% url "inout home" %}' style="float:left;">Home</a>
<a href='{%url "inout logout" %}' style="float:right;">Logout</a>
-->



{% block content %}
<link href='{% static "inout/css/profile.css" %}' type='text/css' rel='stylesheet' />
<script type="text/javascript" src='{% static "inout/js/javascript.js" %}'></script>
<div class='header'>
</div>
<h1 style="color:{{ user.profile.color }};">{{user.username}}</h1><br>
<h3><b>Rating:{{ user.profile.rating }}</b></h3>
{% if request.user.is_staff or request.user.is_superuser %}
	<button onclick='getCon()' >Contests</button><br><br>
	<div id="cons"></div>
{% endif %}
<div style='float:right;'>
<table class='table table-bordered'>
	<thead>
	<th>Problem</th><th>Time</th>
	</thead>
	<tbody>
		{% if solved %}
			{% for prob in solved %}
			<tr>
			<th> <a style='color:green;' href="{% url 'contests:problem' code=prob.problem.contest.contest_code question=prob.problem.code %}">{{prob.problem.code}} </a></th>
			<td>{{prob.time}}</td></tr>
			{% endfor %}
		<div class="pagination">
			<span class="step-links">
				{% if solved.has_previous %}
					<a href="?page={{solved.previous_page_number}}">previous</a>
				{% endif %}
				<span class="current">
					Page {{solved.number}} of {{solved.paginator.num_pages}}
				</span>
				{% if solved.has_next %}
					<a href="?page={{solved.next_page_number}}">next</a>
				{% endif %}
			</span>
		</div>
		{% else %}
			No submissions.
		{% endif %}
	</tbody>
</table>
</div>




{% endblock %}