{% extends 'inout/base.html' %}
{% load static %}

{% block css %}
  <link href='{% static "inout/css/profile.css" %}' type='text/css' rel='stylesheet' />
{% endblock %}

{% block content %}
  <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    <div class="profile-header">Your Profile</div>
    <div>
      <strong>Username:</strong> <div class="profile-username" style="color:{{ user.profile.color }}">{{ user.username }}</div>
    </div>
    <div>
      <strong>Rating:</strong> <div class="profile-rating">{{ user.profile.rating }}</div>
    </div>

    {% if request.user.is_staff or request.user.is_superuser %}
      <div class="contest-requests">
        <button class="contest-request-btn btn btn-primary" id="getContests">Contest Requests</button>
        <div id="contests"></div>
      </div>
    {% endif %}

    <div class="submission-section panel panel-warning">
      <div class="panel-heading">Your Submissions</div>
      {% if solved_problems %}
        <center>
          <table class='table table-bordered'>
            <thead>
              <th>Problem</th><th>Time</th>
            </thead>
            <tbody>
              {% for prob in solved_problems %}
                <tr>
                  <td>
                    <a href="{% url 'contests:problem' code=prob.problem.contest.contest_code question=prob.problem.code %}" class="problem-url">{{ prob.problem.code }}</a>
                  </td>
                  <td>{{ prob.time }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="pagination panel-footer">
            <span class="step-links">
              {% if solved.has_previous %}
                <a href="?page={{solved.previous_page_number}}">Previous</a>
              {% endif %}
              <span class="current">
                Page {{ solved_problems.number }} of {{ solved_problems.paginator.num_pages }}
              </span>
              {% if solved.has_next %}
                <a href="?page={{solved.next_page_number}}">Next</a>
              {% endif %}
            </span>
          </div>
        </center>
      {% else %}
        No submissions.
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src='{% static "inout/js/profile.js" %}'></script>
{% endblock %}