{% extends 'inout/base.html' %}
{% load static %}

{% block css %}
  <link href="{% static 'inout/css/login.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
    <center>
      <div class="login-heading">Register into Ozone</div>
    </center>
    <br>

    <form method='post' action='{% url "inout:register"%}' role="form">
      {% csrf_token %}

      <div class="alert alert-danger" role="alert">
        <span class="sr-only">Error:</span>
        {% for key, error in form.errors.items %}
          {{ error }}
        {% endfor %}
      </div>

      <div class="register-form-inputs">
        {% for field in form %}
          <div class="form-group">
            {{field.label_tag}}
            {{field}}
          </div>
        {% endfor %}
      </div>

      <center>
        <button type="submit" class="login-button btn btn-primary">Register</button>
        Or
        <a href="{% url 'inout:login' %}" class="login-button btn btn-primary">Login</a>
      </center>
    </form>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('.navigation-bar').css('display', 'none');
    });
  </script>
{% endblock %}