.form-group {
    width: 80% !important;
}
.hide {
    display: none;
}

/* login css */
.login-heading {
    font-size: 20px;
    font-family: Georgia;
    margin: 0px auto;
    padding: 0;
    display: block;
    width: 60%;
}
.login-button {
    width: 25%;
    margin: 0 10px auto;
}

/* register css */
.register-form-inputs {
    margin-left: 16.5%;
}

/* activate css */
.activate-input {
    width: 30%;
}
.activate-btn {
    width: 22%;
    text-align: center;
}
.alert ul {
    padding-left: 5%;
}