.code-edit-heading {
    font-size: 200%;
    font-family: Georgia;
    text-align: center; 
}
.code-edit-form {
    margin-left: 10%;
}
.code-edit-form .code {
    width: 400px;
    height: 300px;
}
.code-edit-form .input {
    width: 400px;
}
.code-edit-form .form-group select {
    width: 12%;
}