.form-group {
    width: 80% !important;
}
.login-heading {
    font-size: 20px;
    font-family: Georgia;
    margin: 0px auto;
    padding: 0;
    display: block;
    width: 60%;
}
.login-button {
    width: 25%;
    margin: 0 10px auto;
}
.register-form-inputs {
    margin-left: 16.5%;
}