body {
    background-color: #eef;
    margin-top: 3%;
}
hr {
    border-top: 1px solid #999;
}
sup {
    font-size: 7px;
    top: -2em;
}
.form-group {
    width: 80%;
}
.heading {
    color: blue;
    font-size: 30px;
    padding: 0;
    margin: 10px 0 0 0;
    width: 40.0%;
    display: inline-block;
}
.heading a:link{
    text-decoration: none;
}
.login-heading {
    font-size: 20px;
    font-family: Georgia;
    margin: 0px auto;
    padding: 0;
    display: block;
    width: 45%;
}
.login-button {
    width: 25%;
    margin: 0 10px auto;
}
