{% extends 'inout/base.html' %}
{% load static %}

{% block content %}
	<link href='{% static "contests/css/create.css" %}' rel='stylesheet' type='text/css' />
	Welcome {{ request.user.username }}, You can create your own contest here.
	{% if done %}
		Contest has been made, waiting for approval.
	{% elif request.user.profile.tobecon == 1 %}
		You have already created the contest
	{% else %}
	<br><br>
	<div class="container">
<!--		<table>-->
		<table>
			<form method='post'>
				{% csrf_token %}
				{% for field in form %}
					<tr><td></td><td>{{field.errors.as_text}}</td></tr>
					<tr><th style="float:left;">{{field.label_tag}}</th><td>{{field}}</td></tr>
				{% endfor %}
				<tr><td><input type="submit" value='Create' /></td></tr>
			</form>
		</table>
<!--		</table> -->
	</div>
	{% endif %}
{% endblock %}