{% extends 'inout/base.html' %}
{% load static %}

{% block title %} Create Contest {% endblock %}

{% block css %}
  <link href="{% static 'contests/css/jquery-ui.css' %}" rel='stylesheet' type='text/css' />
  <script src="{% static 'contests/js/jquery-ui.min.js' %}" type='text/javascript'> </script>
  <link href="{% static 'inout/css/form-table.css' %}" rel=stylesheet type="text/css" />
  <link href="{% static 'contests/css/create_contest.css' %}" rel='stylesheet' type='text/css' />
  <link href="{% static 'contests/css/clockpicker.css' %}" rel='stylesheet' type='text/css' />
{% endblock %}

{% block content %}
    {% if done %}
      <div class="head-info">
        Contest has been made, waiting for approval.
      </div>
    {% elif request.user.profile.tobecon == 1 %}
      <div class="head-info">
        You have already created the contest
      </div>
    {% else %}
      <div class="head-info">
        Contest Information
      </div>

      <div class="col-md-8 col-sm-8 col-md-offset-3 col-sm-offset-3">
        <form class="create-contest-form" method='post' action="{% url 'contests:create' %}" role='form'>
		  {% csrf_token %}
            {{form.as_p}}
          <button class="btn btn-primary submit-btn" type=submit > Create </button>
    	</form>
      </div>
	{% endif %}
{% endblock %}

{% block js %}
  <script src='{% static "contests/js/javascript.js" %}' type="text/javascript"></script>
  <script src="{% static 'contests/js/clockpicker.js' %}" type="text/javascript">
  </script>
  <script type='text/javascript'>
    $('.vDateField').datepicker();
    $('.vTimeField').clockpicker({
      donetext: 'Set',
    });
  </script>
{% endblock %}
