{% extends 'inout/base.html' %}
{% load static %}
{% block content %}
<center>
	<table class="table table-bordered">
		<caption style="color:green;"><center><h2> {{contest.name}} </h2></center></caption>
		<thead>
			<tr>
				<th>
					Standing
				</th>
				<th>
					User Name
				</th>
				<th>
					Score
				</th>
				<th>
					Effective Score
				</th>
				<th>
					Submissions
				</th>
			</tr>
		
		</thead>
		<tbody>
		{% if con %}
			{% for u in con %}
				<tr> <th>{{forloop.counter}}</th><td><a style="color:{{ u.user.profile.color }}; font-weight:bold;" href="/profyl/">{{u.user.username}}</a></td>
					<td>{{u.score}}</td>
					<td>
						{{u.effective_score}}
					</td>
					<td>
						<span style='color:green; font-weight:bold;'>Successful Submissions:</span> {{u.ac}}<br> <span style='color:red; font-weight:bold;'>Unsuccessful Submissions:</span> {{u.wa}}
					</td>
					
				</tr>
			{% endfor %}
		{% else %}
			<tr><td> No data available</td></tr>
		{% endif %}
		</tbody>
	</table>
</center>
{% endblock %}