.upcoming{
	border: solid 1px black;
	width:40%;
	background-color:aliceblue;
	padding-left:10px;
	padding-bottom:10px;
}

.current{
	border: solid 1px black;
	width:40%;
	background-color: aquamarine;
	padding-left:10px;
	padding-bottom:10px;
}

a .cont{
	margin-left:30px;
}

dl{
	margin-left:20px;
	margin-bottom:5px;
}

dd{
	margin-left:30px;
}