.upcoming{
	border: solid 1px black;
	width:40%;
	background-color:aliceblue;
	padding:20px;
}

.current{
	border: solid 1px black;
	width:40%;
	background-color: aquamarine;
	padding:20px;
}

dl{
	margin-left:10px;
	margin-bottom:20px;
}

dd{
	margin-left:30px;
}