.upcoming{
	border: solid 1px black;
	background-color:aliceblue;
	padding:10px;
	height:20em;
	overflow-y:auto;
}

.current{
	border: solid 1px black;
	background-color: aquamarine;
	padding:10px;
	height:20em;
	overflow-y:auto;
}

.cont{
	margin:10px;
	text-align: center;
}


dl{
	margin-left:20px;
	margin-bottom:5px;
}

dd{
	margin-left:30px;
}